<div id="nav-container">
  <a class="nav-item" href="/">OmniMix</a>
  <a class="nav-item logout" href="/logout">Log Out</a>
</div>
<style>
  #nav-container {
    width: calc(100% - 20px);
    height: 20px;
    display: block;
    border-bottom: 2px solid var(--green);
    padding: 10px;
    position: fixed;
    background-color: var(--white);
    top: 0;
    z-index: 2;
  }
  .nav-item {
    display: inline-block;
    font-weight: bold;
  }
  .logout {
    float: right;
    position: relative;
    right: 10px;
  }
</style>