<!DOCTYPE html>
<html>
<!-- prevents favicon request -->
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<head>
  <title>Auth</title>
</head>
<body>
  <h2>Auth</h2>
  <form action="/auth/authorize" method="GET">
    <button type="submit">Authorize</button>
  </form>
  <a href="/">Home</a>
</body>
</html>