<!DOCTYPE html>
<html>
<!-- prevents favicon request -->
<link rel="icon" href="data:,">
<head>
  <title>Todo List</title>
</head>
<body>
  <h2>Todo List</h2>
  <table>
    <tr>
      <th>Id</th>
      <th>Task</th>
      <th>Delete</th>
    </tr>
    <% data.forEach(element => { %>
    <tr>
      <td><%= element.id %></td>
      <td><%= element.todo %></td>
      <form action="/delete" method="POST">
        <input type="hidden" name="id" value="<%= element.id %>">
        <button class="delete" type="submit">❌</button>
      </form>
    </tr>
    <% }) %>
  </table>
  <form action="/" method="POST">
    <input type="text" name="todo" placeholder="Enter Task">
    <button type="submit">Add</button>
  </form>
</body>
</html>