<!DOCTYPE html>
<html>
<!-- prevents favicon request -->
<link rel="icon" href="data:,">
<link rel="stylesheet" href="/stylesheets/style.css" type="text/css">
<link rel="stylesheet" href="/stylesheets/login.css" type="text/css">
<head>
  <title>OmniMix - Login</title>
</head>
<body>
  <div id="login-container">
    <h2>OmniMix</h2>
    <form action="/login" method="POST">
      <input id="email" type="text" name="email" placeholder="Email">
      <input id="password" type="text" name="password" placeholder="Password">
      <button id="login" type="submit">Log In</button>
    </form>
    <a id="create-link" href="/create">New User? Create an account</a>
  </div>
</body>
</html>