#login-container, #create-container {
  margin: 25%;
  text-align: center;
}

input#email, input#password, input#confirm-password {
  background-color: var(--white);
  border: var(--green-border);
  color: var(--green);
  display: block;
  margin: 10px auto;
}

button#login, button#create {
  background-color: var(--green);
  border: var(--green-border);
  color: var(--white);
  display: block;
  margin: 10px auto;
  padding: 5px;
}

button#login {
  margin-top: 40px;
}

#create-link, #login-link {
  color: var(--green);
  cursor: pointer;
  display: block;
  font-size: 11px;
  margin: auto;
  padding: 5px;
  text-decoration: underline;
}

.disabled-button {
  background-color: darkgray!important;
  border: 1px solid darkgray!important;
  color: gray!important;
  cursor: auto!important;
}

