:root {
  --black: #101419;
  --gray: #9097C0;
  --green: #4B6858;
  --green-border: 1px solid #4B6858;
  --white: #F8F2DC;
}

html {
  background-color: var(--white);
  color: var(--green);
  height: 100%;
  margin: 0;
  width: 100%;
}

body {
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  height: calc(100% - 40px);
  margin: 0;
}

a {
  text-decoration: none;
  color: var(--green);
}

th {
  background: white;
  margin: 5px auto;
  position: sticky;
  top: 0px;
}