#track-table {
  display: block;
  top: 40px;
  position: relative;
  overflow: hidden;
}

#track-table-body {
  display: block;
  position: relative;
  overflow: auto;
  max-height: calc(100vh - 40px);
  padding-right: 6px;
}

.track-container {
  height: 30px;
  margin: 10px auto;
}

.track-item {
  margin: 10px auto;
}

#search-column {
  display: inline-block;
  position: fixed;
  vertical-align: top;
  width: 25%;
}

#search-container {
  height: calc(100vh - 20px);
  overflow: auto;
  position: sticky;
}