#track-table-container {
  max-height: calc(100% - 40px);
  overflow: hidden;
  position: fixed;
  top: 40px;
  width: 100%;
}

#track-table {
  font-size: 11px;
  height: calc(100vh - 60px);
  padding: 10px 0 ;
  width: 100%;
}

#track-table-body {
  max-height: calc(100vh - 95px);
  overflow: auto;
  padding: 5px;
  position: relative;
}

.track-container {
  height: 30px;
  margin: 10px auto;
}

.track-item {
  display: inline-block;
  margin: 5px auto;
  width: 100%;
}

#search-column {
  display: inline-block;
  position: fixed;
  vertical-align: top;
  width: 25%;
}

#search-container {
  height: calc(100vh - 20px);
  overflow: auto;
  position: sticky;
}

th {
  position: sticky;
  top: 0;
  z-index: 1;
  text-align: left;
  background-color: var(--white);
}

.table-header-row {
  background: var(--white);
  border-bottom: 1px solid var(--green);
  display: inline-block;
  font-weight: bold;
  padding: 10px 5px;
  position: sticky;
  text-align: left;
  top: 0;
  width: 99%;
  z-index: 1;
}

.title-header, .track-name {
  display: inline-block;
  white-space: nowrap;
  width: 40%;
  overflow: hidden;
  text-overflow: ellipsis;
}

.artist-header, .album-header, .track-artist, .track-album {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 25%;
}

.duration-header, .track-duration {
  display: inline-block;
  overflow: hidden;
  text-overflow: ellipsis;
  text-align: right;
  white-space: nowrap;
  width: 8%;
}
